[Desktop Entry]
Name=systemadm
Comment=Manage systemd units
Exec=systemadm
Icon=io.systemd.systemadm
Terminal=false
Type=Application
Categories=System;Settings;
