[Desktop Entry]
Name=systemadm
Comment=Manage systemd units
Exec=systemadm
Icon=applications-system
Terminal=false
Type=Application
Categories=System;Settings;
