[Desktop Entry]
Name=systemd GNOME ask password agent
Comment=Agent for system- and user-level password requests
Exec=systemd-gnome-ask-password-agent
Icon=org.freedesktop.systemd.gnome-ask-password-agent
Terminal=false
Type=Application
Categories=Utility
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
