/**
 * Polkit permissions for systemd-gnome-ask-password-agent.
 */
polkit.addRule(function(action, subject) {
  // Allow the `wheel` group to run `systemd-reply-password` without passwords.
  if (action.id == "org.freedesktop.policykit.exec" &&
      action.lookup("program") == "/usr/lib/systemd/systemd-reply-password" &&
      subject.isInGroup("wheel")) {
        return polkit.Result.YES;
  }
});
